<!DOCTYPE html>
<html>
<head>
    <title>Three-Column Layout</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {{> leaderboard }}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

</body>
</html>
